<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<div layout:fragment="content" class="main-content-container container-fluid px-4 mt-3">
    <h5>투표등록</h5>
    <form th:object="${articleForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select class="form-select" th:name="category_id">
                <option th:text="|==카테고리 선택==|" th:selected="${category_id}==0"></option>
                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"
                        th:selected="${category.id} == ${category_id}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">항목</label>
            <div id="append_column" class="btn btn-outline-info float-right">+</div>
        </div>

        <div class="card-body flex-column d-flex">
            <div id="itemContainer">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" name="items[]"  placeholder="내용을 입력해주세요"/>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" name="items[]"  placeholder="내용을 입력해주세요"/>
                </div>
            </div>
            <div>
                <input type="submit" value="저장하기" class="btn btn-primary my-2 float-right">
            </div>
        </div>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    $("#append_column").on("click", function () {

        const column = `<div class="input-group mb-3">
                <input class="form-control" type="text" name="items[]"  placeholder="내용을 입력해주세요"/>
                <div id="delete" class="btn btn-outline-info float-right" onclick="deleteColumnForm(this)">-</div>
            </div>`;

        const columnParents = document.createElement('div')
        columnParents.innerHTML = column;
        document.getElementById("itemContainer").appendChild(columnParents)
    })

    function deleteColumnForm(content) {
        const parents = content.parentNode.parentNode
        parents.remove()
    }
</script>
</html>
