<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<div layout:fragment="content" class="main-content-container container-fluid px-4">
    <section th:each="category, loop : ${categoryList}">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">카테고리</span>
                <h3 class="page-title" th:text="${category.name}"></h3>
            </div>
        </div>
        <div class="d-flex align-content-start flex-wrap">
            <div class="col-sm-6 col-lg-5 col-xl-3" th:each="article, loop : ${articleListArray[loop.index]}">
                <div class="card card-small card-post mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${article.title}"></h5>
                        <p class="card-text text-muted" th:text="${article.content}"></p>
                    </div>
                    <div class="card-footer border-top d-flex">
                        <div class="card-post__author d-flex">
                            <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('images/avatars/1.jpg');">Written by James Khan</a>
                            <div class="d-flex flex-column justify-content-center ml-3">
                                <span class="card-post__author-name" th:text="${article.author.nickname}"></span>
                                <small class="text-muted" th:text="${#temporals.format(article.createdDate, 'yy-mm-dd')}">21 March 2011</small>
                            </div>
                        </div>
                        <div class="my-auto ml-auto">
                            <a class="btn btn-sm btn-accent ml-auto" th:href="@{|/article/vote/${article.id}|}">
                                <i class="material-icons">file_copy</i> 투표하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>