<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="main-content-container container px-4 mt-3">
  <div class="card card-small mb-3 mt-5">
    <div class="card-body">
      <form th:object="${noticeForm}" class="add-new-post" id="form_notice" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <input th:field="*{title}" class="form-control form-control-lg mb-3" type="text" placeholder="제목을 입력해주세요">
        <textarea th:field="*{content}" name="text" style="display: none" id="hiddenArea"></textarea>
        <div id="editor"></div>
        <input class="btn btn-primary float-right mt-3" type="submit" value="등록"/>
      </form>
    </div>
  </div>
</div>
<script layout:fragment="script" type='text/javascript' th:inline="javascript">
  const Editor = toastui.Editor;

  const editor = new Editor({
    el: document.querySelector('#editor'),
    height: '600px',
    initialEditType: 'markdown',
    previewStyle: 'vertical',
    initialValue: document.getElementById("hiddenArea").innerText
  });

  $("#form_notice").on("submit", function () {
    $("#hiddenArea").val(editor.getMarkdown());
  })
</script>
</html>