<html
        xmlns:th="http://thymeleaf.org"
>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center" style="background-color: #f5f6f8;">
<div class="container mt-[70px] w-[700px]">
    <div class="flex flex-col items-center">
        <a th:href="@{/}">
            <img src="/images/logo.png" style="" alt="logo-ylw" class="w-[190px]"/>
        </a>
    </div>
    <div class="p-10 mt-[-32px] bg-white rounded-2xl shadow-md">
        <div class="my-3 border-b">
                <div>회원 정보를 입력해주세요.</div>
        </div>
        <form th:action="@{|/member/signup|}" th:object="${memberCreateForm}" method="post"
              enctype="multipart/form-data">
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mt-10 mb-14 flex flex-col">
                <label class="form-label font-bold mb-2">사용자 ID</label>
                <input type="text" th:field="*{memberId}" class="form-control text-gray-700 border w-full h-[35px]" placeholder="사용하실 아이디를 입력해주세요.">
            </div>
            <div class="mb-14 flex flex-col">
                <label class="form-label font-bold mb-2">닉네임</label>
                <input type="text" th:field="*{nickname}" class="form-control  text-gray-700 border w-full h-[35px]" placeholder="닉네임을 입력해주세요.">
            </div>
            <div class="mb-14 flex flex-col">
                <label class="form-label font-bold mb-2">비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control text-gray-700 border w-full h-[35px]" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="mb-14 flex flex-col">
                <label class="form-label font-bold mb-2">비밀번호 확인</label>
                <input type="password" th:field="*{password2}" class="form-control text-gray-700 border w-full h-[35px]" placeholder="비밀번호를 다시 입력해주세요.">
            </div>
            <div class="mb-14 flex flex-col">
                <label class="form-label font-bold mb-2">이메일</label>
                <input type="email" th:field="*{email}" class="form-control text-gray-700 border w-full h-[35px]" placeholder="이메일을 입력해주세요.">
            </div>
            <div class="text-center w-full">
                <button type="submit"
                        class="mt-4 rounded-md p-3 w-full bg-[#14C38E] hover:bg-emerald-500 text-white font-bold text-sm justify-center hover:shadow-lg">
                    가입하기
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>