<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="memberFragment">
        <div id="target" class="profile-none border w-[250px] p-3 ml-3">
            <div class="flex gap-3 border-bottom">
                <i class="fa-solid fa-universal-access"></i>
                <div>user1</div>
                <div>(453)</div>
            </div>
            <hr class="my-2">
            <div>투표 등록 : 2회</div>
            <div>투표 횟수 : 23회</div>
            <div>인기투표지 선정 : 3회</div>
        </div>
    </th:block>
</html>