<html
        xmlns:th="http://thymeleaf.org"
>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color: #f5f6f8;">
    <div class="container mx-auto w-[700px] p-10 mt-28 flex flex-col bg-white rounded-2xl shadow-md">
        <div class="text-center text-2xl font-semibold mt-1 mb-2 pb-5">가입한 아이디</div>
        <div class="text-center mb-9">회원가입 시 사용한 아이디는 <span class="font-bold" th:text="${member.memberId}"></span> 입니다</div>
        <div class="text-center">
            <button type="submit"
                    class="mt-4 rounded-md p-3 w-[300px] text-white text-sm justify-center bg-[#14C38E] hover:bg-emerald-500 hover:shadow-lg">
                <a th:href="@{/member/login}" class="no-underline text-white font-bold">로그인 하기</a>
            </button>
        </div>
    </div>
</body>
</html>


