<html
        xmlns:th="http://thymeleaf.org"
>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color: #f5f6f8;">
<!--<div layout:fragment="content" class="main-content-container container px-4">-->
    <div class="container mx-auto w-[700px] p-10 mt-28 flex flex-col bg-white rounded-2xl shadow-lg">
        <form th:action="@{/member/delete}" method="post">
            <div class="text-center text-xl text-2xl font-semibold mt-1 mb-12 pb-1">탈퇴 완료</div>
            <div> 회원 탈퇴가 정상적으로 처리되었습니다. </div>
        </form>
    </div>
</body>
</html>
