<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="main-content-container container px-4">

    <div class="page-header row no-gutters py-2 mb-2 mt-2">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">나만의 투표를 등록!</span>
            <h3 class="page-title">투표등록</h3>
        </div>
    </div>


    <div class="container-fluid" style="max-width: 50rem;">
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">

                    <form th:object="${articleForm}" method="post" onsubmit="return checkForms()">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="author" th:value="${#authentication.name}"/>

                        <div class="card card-small card-post mb-4 flex rounded-2xl shadow-md">
                            <div class="card-body">
                                <div class="flex flex-col my-auto items-center">
                                    <div class="form-row mb-3">
                                        <div class="form-group col-md-9">
                                            <label for="subject" class="form-label">제목</label>
                                            <input id="titleForm" th:if="${modifyToken}==1" type="text"
                                                   placeholder="제목을 입력해주세요."
                                                   th:field="*{title}" class="form-control" readonly/>
                                            <input id="titleForm" th:unless="${modifyToken}==1" type="text"
                                                   placeholder="제목을 입력해주세요."
                                                   th:field="*{title}" class="form-control"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="category" class="form-label">카테고리</label>
                                            <select id="categoryForm" class="form-control text-center"
                                                    th:name="category_id">
                                                <option th:text="|==카테고리 선택==|"
                                                        th:selected="${category_id}==0"></option>
                                                <option th:each="category : ${categoryList}"
                                                        th:value="${category.id}" th:text="${category.name}"
                                                        id="categorySelected"
                                                        th:selected="${category.id} == ${category_id}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group mb-5">
                                        <label for="content" class="form-label">고민 내용</label>
                                        <textarea id="contentForm" th:field="*{content}"
                                                  placeholder="고민 내용을 입력해주세요."
                                                  class="form-control" rows="5"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <div th:if="${modifyToken}!=1" id="itemContainer">
                                            <div class="position-relative">
                                                <label class="form-label">선택지</label>
                                                <div id="append_column" class="btn btn-outline-info position-absolute" style="top:-1rem; right:0;">
                                                    <i class="material-icons">add</i>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="input-group mb-2">
                                                    <input class="items form-control" type="text" name="items[]"
                                                           maxlength="30"
                                                           placeholder="내용을 입력해주세요"/>
                                                </div>
                                                <div class="input-group mb-2">
                                                    <input class="items form-control" type="text" name="items[]"
                                                           maxlength="30"
                                                           placeholder="내용을 입력해주세요"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <input type="submit" value="등록하기" class="btn btn-primary float-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ul>
    </div>

</div>
<script layout:fragment="script" type='text/javascript'>
    $("#append_column").on("click", function () {
        if (document.querySelectorAll(".items").length > 9) {
            alert("투표항목의 최대 개수는 10개입니다.")
            return false;
        }

        const column = `<div class="input-group mb-2">
                <input class="items form-control" type="text" name="items[]" maxlength="30" placeholder="내용을 입력해주세요"/>
                <div id="delete" class="btn btn-outline-danger float-right ml-1" onclick="deleteColumnForm(this)">
                    <i class="material-icons">remove</i>
                </div>
            </div>`;

        const columnParents = document.createElement('div')
        columnParents.innerHTML = column;
        document.getElementById("itemContainer").appendChild(columnParents)
    })

    function deleteColumnForm(content) {
        const parents = content.parentNode.parentNode
        parents.remove()
    }

    function checkForms() {
        const titleValue = document.getElementById("titleForm").value;
        if (titleValue.trim() == "") {
            alert("제목을 입력해주세요");
            document.getElementById("titleForm").focus();
            return false;
        }

        const categoryValue = document.getElementById("categoryForm");
        const categorySelected = categoryValue.options[categoryValue.selectedIndex].value;
        if (categorySelected.trim() == "==카테고리 선택==") {
            alert("카테고리를 선택해주세요");
            document.getElementById("categoryForm").focus();
            return false;
        }

        const contentValue = document.getElementById("contentForm").value;
        if (contentValue.trim() == "") {
            alert("내용을 입력해주세요");
            document.getElementById("contentForm").focus();
            return false;
        }

        const itemValues = document.querySelectorAll(".items")

        for (const i = 0; i < itemValues.length; i++) {
            if (itemValues[i].value.trim() == "") {
                alert((i + 1) + "번 항목내용을 입력해주세요");
                itemValues[i].focus();
                return false;
            }
        }
    }

</script>
</html>
