<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout}"
>

<div layout:fragment="content" class="main-content-container container px-4">

    <div class="page-header row no-gutters py-2 mb-2 mt-2">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">당신의 생각에 투표하세요!</span>
            <h3 class="page-title">투표하기</h3>
        </div>
    </div>
    <div class="container-fluid" style="max-width: 50rem;">
        <div class="card card-small mt-5 mb-3">
            <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                <h4 th:text="${article.title}" class="m-0"></h4>
                <div class="font-weight-light">
                    <div class="d-flex justify-content-end">
                        <div th:text="|조회수 : ${article.viewCount}|"></div>
                    </div>

                    <span th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}" class="m-0 mr-2"></span>
                    <span th:text="${article.author.nickname}" class="m-0 text-right"></span>
                </div>
            </div>
            <div class="card-body">
                <div th:text="${article.content}"></div>
            </div>
            <div class="text-center mb-3">
                <!--                    추천 영역 표시 시작-->
                <div class="d-flex justify-content-center" style="font-size: 25px; color: #c4183c;">
                    <div>
                        <i th:id="recommend"
                           th:data-uri="@{|/article/recommend/${article.id}|}"
                           style="cursor: pointer;"
                           class="fa-thumbs-up mr-2"
                           th:classappend="${exist == true} ? 'fa-solid' : 'fa-regular'"></i>
                    </div>

                    <div th:id="recommendCount" class="d-flex justify-content-center"
                         th:text="${#sets.size(article.recommends)}"></div>
                </div>
                <!--                    추천 영역 표시 끝-->
            </div>
        </div>
        <div class="card card-small">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <form id="voteForm" th:object="${statsCollectionForm}" method="post"
                                  onsubmit="return checkForms()">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="userName" sec:authorize="isAuthenticated()"
                                       th:value="${#authentication.name}">
                                <input type="hidden" name="userName" sec:authorize="isAnonymous()"
                                       th:value="|anonymous|">
                                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                                    <div class="toast-body" th:each="err : ${#fields.allErrors()}" th:text="${err}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label mb-2">선택지</label>
                                    <div class="input-group mb-1" th:each="articleItem : ${articleItems}">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="radio" name="articleItem"
                                                       th:value="${articleItem.id}" onclick="getItem(this)"/>
                                            </div>
                                        </div>
                                        <div id="itemContent" class="form-control"
                                             th:text="${articleItem.content}"/>
                                    </div>
                                    <input id='result' th:field="*{articleItemId}" style="display: none"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">성별</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio" name="gender" class="genderForm"
                                                           th:value="male" onclick="getGender(this)"/>
                                                </div>
                                            </div>
                                            <div class="form-control" th:text="남성"></div>

                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio" name="gender" class="genderForm"
                                                           th:value="female" onclick="getGender(this)"/>
                                                </div>
                                            </div>
                                            <div class="form-control" th:text="여성"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">나이</label>
                                        <input id="ageForm" th:field="*{age}" class="form-control" min="1" type="number"
                                               placeholder="나이를 입력해주세요"/>
                                    </div>
                                </div>

                                <div class="row mr-1 mt-3">
                                    <span class="col mt-auto">
                                        <a th:href="@{|/article/list?category=${article.category.id}|}"><span>목록으로</span></a>
                                    </span>
                                    <span>
                                        <span class="col text-right pr-0">
                                            <a sec:authorize="isAuthenticated()" th:if="${article.author.memberId == #authentication.getPrincipal().getUsername()}"
                                               href="javascript:void(0);" th:data-uri="@{|/article/delete/${article.id}|}"
                                               class="delete btn btn-outline-accent mr-2"
                                               th:text="삭제"></a>
                                            <a sec:authorize="isAuthenticated()" th:if="${article.author.memberId == #authentication.getPrincipal().getUsername()}"
                                               th:href="@{|/article/modify/${article.id}|}"
                                               class="btn btn-outline-accent mr-2 "
                                               th:text="수정"></a>
                                            <a th:href="@{|/article/result/${article.id}|}"
                                               class="btn btn-outline-accent mr-2"
                                               th:text="결과페이지"></a>
                                        </span>
                                        <button type="submit" class="btn btn-primary float-right">투표하기</button>
                                    </span>
                                </div>
                                <!-- 경고 메시지 띄우기 시작-->
                                <div id="redirectForm" style="display: none"
                                     th:if="${params != null}"
                                     th:text="${params.message}"
                                     th:data-uri="@{|${params.redirectUri}|}"></div>
                                <!-- 경고 메시지 띄우기 끝 -->
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>
<script th:inline="javascript" layout:fragment="script" type='text/javascript'>

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    /**
     *  추천
     */
    const recommend_elements = document.getElementById("recommend");
    let exist = [[ ${exist}]];

    recommend_elements.addEventListener('click', function () {
        console.log(exist);

        if(![[${#authentication.name != 'anonymousUser'}]]) {
            alert("로그인 후 이용해주세요");
            return false;
        }

        // 이미 추천
        if (exist == true) {
            if (confirm("추천을 취소하시겠습니까?")) {
                fetch(recommend_elements.dataset.uri, {
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.result == "success") {
                            console.log("성공");
                            exist = false;
                            document.getElementById("recommendCount").innerText--;
                            recommend_elements.classList.toggle("fa-solid")
                            recommend_elements.classList.toggle("fa-regular")

                        }
                    });
            }
        } else {
            fetch(recommend_elements.dataset.uri,{
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(res => res.json())
                .then(data => {
                    if (data.result == "success") {
                        console.log("성공");
                        exist = true;
                        document.getElementById("recommendCount").innerText++;
                        recommend_elements.classList.toggle("fa-solid")
                        recommend_elements.classList.toggle("fa-regular")
                    }
                });
        }

    });


    function getItem(__input) {
        const itemContent = __input.value;
        $("#result").val(itemContent);
    }

    function getGender(__gender) {
        const genderSelected = __gender.value;
        $("#genderSelect").val(genderSelected);
    }

    // 공백 체크
    // function checkForms() {
    //     const ageForm = document.getElementById("ageForm").value;
    //     if (ageForm.trim() == "") {
    //         alert("나이을 입력해 주세요");
    //         document.getElementById("ageForm").focus();
    //         return false;
    //     }
    //
    //     const genderForms = document.querySelectorAll('input[name="gender"]');
    //     const genderValue = radioChecked(genderForms);
    //     if (genderValue == null) {
    //         alert("성별을 입력해 주세요");
    //         return false;
    //     }
    //
    //     const articleItemForms = document.querySelectorAll('input[name="articleItem"]');
    //     const articleItemValue = radioChecked(articleItemForms);
    //     if (articleItemValue == null) {
    //         alert("항목을 선택해 주세요");
    //         return false;
    //     }
    //
    // }
    //
    // function radioChecked(radioForms) {
    //     for (let i = 0; i < radioForms.length; i++) {
    //         if (radioForms[i].checked) {
    //             return radioForms[i].value;
    //         }
    //     }
    //     return null;
    // }

    $(document).ready(function () {
        if (document.getElementById("redirectForm") != null) { // 존재할 때

            const redirectForm = document.getElementById("redirectForm")

            alert(redirectForm.innerText);

            const uri = redirectForm.dataset.uri;

            location.href = uri;
        } else {

        }
    });
</script>
</html>
