<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<div layout:fragment="content" class="main-content-container container px-0">
  <section class="px-4">
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">검색</span>
        <h3 class="page-title">투표지 검색결과</h3>
      </div>
    </div>
    <div class="d-flex align-content-start flex-wrap">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4" th:each="article : ${articleList}">
        <div class="card card-small card-post card-post--1 mb-4">
          <div class="card-post__image" th:style="'background-image: url('+ @{|/images/content-management/${article.category.id}.jpg|} + ');'">
            <a th:if="${article.category.id} == 1" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-light"
               th:text="${article.category.name}"></a>
            <a th:if="${article.category.id} == 2" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-success"
               th:text="${article.category.name}"></a>
            <a th:if="${article.category.id} == 3" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-warning"
               th:text="${article.category.name}"></a>
            <a th:if="${article.category.id} == 4" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-danger"
               th:text="${article.category.name}"></a>
            <a th:if="${article.category.id} == 5" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-dark"
               th:text="${article.category.name}"></a>
            <a th:if="${article.category.id} == 6" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-info"
               th:text="${article.category.name}"></a>
            <div class="card-post__author d-flex">
              <img class="card-post__author-avatar card-post__author-avatar--small"
                   th:if="${article.author.memberImgPath}"
                   th:src="@{/gen/} + ${#authentication.principal.memberImgPath}"/>
              <img class="card-post__author-avatar card-post__author-avatar--small"
                   th:unless="${article.author.memberImgPath}" th:src="@{/gen/member.png}"/>
            </div>
          </div>
          <div class="card-body pb-2">
            <h5 class="card-title txt_line" th:text="${article.title}">
            </h5>
            <p class="card-text txt_multi" th:text="${article.content}"></p>
            <div class="d-flex flex-row justify-content-between">
              <div class="text-muted"
                   th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
              <div class="card-post__author-name"
                   th:text="${article.author.nickname}"></div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between pt-2 px-3 pb-2">
            <a class="btn btn-accent" th:href="@{|/article/vote/${article.id}|}">
              <i class="material-icons">how_to_vote</i> 투표하기</a>
            <a class="btn btn-outline-accent" th:href="@{|/article/result/${article.id}|}">
              <i class="material-icons">summarize</i> 결과보기</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</html>