<html
        xmlns:th="http://thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<!--<div layout:fragment="content" class="main-content-container container-fluid px-4">-->
<body style="background-color: #f5f6f8;">
    <div class="container mx-auto w-[700px] p-10 mt-28 flex flex-col bg-white rounded-2xl shadow-md">
        <form onsubmit="MailSend__submitForm(this); return false;" th:action="@{/mail/reset}" th:object="${mailForm}"
              method="post">

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    이메일을 형식에 맞게 작성해주세요.
                </div>
            </div>
            <div class="text-center text-xl text-2xl font-semibold mt-1 mb-12 pb-1">비밀번호 찾기</div>
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label class="form-label">가입 시 등록하신 이메일 주소를 입력해 주세요.</label>
                <input
                        type="text"
                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        th:field="*{email}"
                />
            </div>
            <div class="text-center">
                <button id="btn-popup" type="submit" onclick="delBtn()"
                        class="mt-4 rounded-md p-3 w-[300px] bg-[#14C38E] hover:bg-emerald-500 text-white text-sm justify-center hover:shadow-lg">
                    입력완료
                </button>
            </div>
            <div class="mb-3 flex mt-5 mr-2">
                <a th:href="@{|/member/login|}">
                    <i class="fa-solid fa-arrow-left-long pt-3"></i>
                    <span class="mb-0">이전 페이지로</span>
                </a>
            </div>
        </form>
    </div>
</body>
<!--</div>-->
</html>

<script>
function delBtn(){
var outcome = confirm("비밀번호를 새로 설정하기 위한 메일을 받으시겠습니까?");
    if (outcome == true){
   console.log("완료되었습니다.");
 }else{
   console.log("취소되었습니다");
 }
}
</script>