<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="main-content-container container-fluid px-4">

    <div class="error">
        <div class="error__content">
            <h2>400</h2>
            <h3>존재하지 않는 페이지입니다!</h3>
            <p>해당 페이지를 찾을 수 없습니다.</p>
            <button id="go-back" type="button" class="btn btn-accent btn-pill">&larr; 뒤로 가기</button>
        </div>
        <!-- / .error_content -->
    </div>

</div>
<script layout:fragment="script" type='text/javascript'>
    document.getElementById('go-back').addEventListener('click', () => {
        history.back();
    });
</script>

</html>
