<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}"
>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div layout:fragment="content" class="main-content-container container-fluid px-4">
    <div class="container mx-auto w-[700px] p-10 mt-10 flex flex-col bg-white rounded-2xl shadow-lg">
        <form onsubmit="MailSend__submitForm(this); return false;" th:action="@{/mail/reset}" th:object="${mailForm}"
              method="post">

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    이메일을 형식에 맞게 작성해주세요.
                </div>
            </div>
            <div class="text-center text-xl text-2xl font-semibold mt-1 mb-12 pb-1">이메일 발송</div>
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label class="form-label">가입 시 등록하신 이메일 주소를 입력해 주세요.</label>
                <input
                        type="text"
                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        th:field="*{email}"
                />
            </div>
            <div class="text-center">
                <button id="btn-popup" type="submit" onclick="delBtn()"
                        class="mt-4 rounded-md p-3 w-[300px] bg-blue-600 text-white text-sm justify-center hover:bg-blue-700 hover:shadow-lg">
                    발송하기
                </button>
            </div>
        </form>
    </div>
</div>
</html>

<script>
function delBtn(){
var outcome = confirm("비밀번호를 새로 설정하기 위한 메일을 받으시겠습니까?");
    if (outcome == true){
   console.log("완료되었습니다.");
 }else{
   console.log("취소되었습니다");
 }
}
</script>