<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="main-content-container container">
    <div class="alert alert-accent alert-dismissible fade show mb-0 align-middle h-100 w-100vw position-sticky" role="alert" th:if="${recentNotice != null}">
        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="align-middle py-auto lh-3 d-flex justify-content-center align-items-center" style="">×</span>
        </button>
        <i class="fa fa-info mx-2 align-middle"></i>
        <a class="text-white h-100" th:href="@{|/notice/detail/${recentNotice.id}|}">
            <strong class="py-auto" th:text="${recentNotice.title}"></strong>
        </a>
    </div>
    <section class="border-bottom px-4 pb-2">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">카테고리별 인기 투표</span>
                <h3 class="page-title">인기 급상승</h3>
            </div>
        </div>
        <div class="d-flex align-content-start flex-wrap">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4" th:each="article, loop : ${popularArticleList}">
                <div class="card card-small card-post card-post--1 mb-4">
                    <div class="card-post__image" th:style="'background-image: url('+ @{|/images/content-management/${article.category.id}.jpg|} + ');'">
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 1" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-secondary"
                           th:text="${article.category.name}"></a>
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 2" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-success"
                           th:text="${article.category.name}"></a>
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 3" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-warning"
                           th:text="${article.category.name}"></a>
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 4" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-danger"
                           th:text="${article.category.name}"></a>
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 5" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-dark"
                           th:text="${article.category.name}"></a>
                        <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 6" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-info"
                           th:text="${article.category.name}"></a>
                        <div class="card-post__author d-flex">
                            <img class="card-post__author-avatar card-post__author-avatar--small"
                                 th:if="${article.author.memberImgPath}"
                                 th:src="@{/gen/} + ${article.author.memberImgPath}"/>
                            <img class="card-post__author-avatar card-post__author-avatar--small"
                                 th:unless="${article.author.memberImgPath}" th:src="@{/gen/member.png}"/>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <h5 class="card-title txt_line" th:text="${article.title}">
                        </h5>
                        <p class="card-text txt_multi mb-3" th:text="${article.content}"></p>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="text-muted"
                                 th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                            <div class="card-post__author-name"
                                 th:text="${article.author.nickname}"></div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pt-2 px-3 pb-3">
                        <a class="btn btn-accent" th:href="@{|/article/vote/${article.id}|}">
                            <i class="material-icons">how_to_vote</i> 투표하기</a>
                        <a class="btn btn-outline-accent" th:href="@{|/article/result/${article.id}|}">
                            <i class="material-icons">summarize</i> 결과보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-bottom px-4 pb-2">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">가장 최근 투표</span>
                <h3 class="page-title">최신 투표</h3>
            </div>
        </div>
        <div class="d-flex align-content-start flex-wrap">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4" th:each="article, loop : ${newArticleList}">
                <div class="card card-small card-post card-post--1 mb-4">
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 1" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-secondary"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 2" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-success"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 3" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-warning"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 4" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-danger"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 5" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-dark"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 6" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-info"
                       th:text="${article.category.name}"></a>
                    <div class="card-body pb-2">
                        <h5 class="card-title txt_line" th:text="${article.title}">
                        </h5>
                        <p class="card-text txt_multi mb-3" th:text="${article.content}"></p>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="text-muted d-flex align-items-center"
                                 th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                            <div class="d-flex align-items-center">
                                <img class="card-post__author-avatar card-post__author-avatar--small"
                                     th:if="${article.author.memberImgPath}"
                                     th:src="@{/gen/} + ${article.author.memberImgPath}"/>
                                <img class="card-post__author-avatar card-post__author-avatar--small"
                                     th:unless="${article.author.memberImgPath}" th:src="@{/gen/member.png}"/>
                                <div class="card-post__author-name ml-2" style="line-height: 15px;"
                                     th:text="${article.author.nickname}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pt-2 px-3 pb-3">
                        <a class="btn btn-accent" th:href="@{|/article/vote/${article.id}|}">
                            <i class="material-icons">how_to_vote</i> 투표하기</a>
                        <a class="btn btn-outline-accent" th:href="@{|/article/result/${article.id}|}">
                            <i class="material-icons">summarize</i> 결과보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section th:each="category, loop : ${categoryList}" class="border-bottom px-4 pb-2">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">카테고리</span>
                <h3 class="page-title" th:text="${category.name}"></h3>
            </div>
            <div class="ml-auto d-flex align-items-end">
                <a class="" th:href="@{|/article/list?category=${category.id}|}">더 둘러보기</a>
            </div>
        </div>
        <div class="d-flex align-content-start flex-wrap">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4" th:each="article : ${articleListArray[loop.index]}">
                <div class="card card-small card-post card-post--1 mb-4">
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 1" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-secondary"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 2" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-success"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 3" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-warning"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 4" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-danger"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 5" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-dark"
                       th:text="${article.category.name}"></a>
                    <a style="top: 8px; right: 8px;" th:if="${article.category.id} == 6" th:href="@{|/article/list?category=${article.category.id}|}" class="card-post__category badge badge-pill badge-info"
                       th:text="${article.category.name}"></a>
                    <div class="card-body pb-2">
                        <h5 class="card-title txt_line" th:text="${article.title}">
                        </h5>
                        <p class="card-text txt_multi mb-3" th:text="${article.content}"></p>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <div class="text-muted"
                                 th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                            <div class="d-flex align-items-center">
                                <img class="card-post__author-avatar card-post__author-avatar--small"
                                     th:if="${article.author.memberImgPath}"
                                     th:src="@{/gen/} + ${article.author.memberImgPath}"/>
                                <img class="card-post__author-avatar card-post__author-avatar--small"
                                     th:unless="${article.author.memberImgPath}" th:src="@{/gen/member.png}"/>
                                <div class="card-post__author-name ml-2" style="line-height: 15px;"
                                     th:text="${article.author.nickname}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pt-2 px-3 pb-3">
                        <a class="btn btn-accent" th:href="@{|/article/vote/${article.id}|}">
                            <i class="material-icons">how_to_vote</i> 투표하기</a>
                        <a class="btn btn-outline-accent" th:href="@{|/article/result/${article.id}|}">
                            <i class="material-icons">summarize</i> 결과보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>