<!doctype html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<nav th:fragment="navbarFragment" class="main-navbar bg-white">
    <div class="container p-0">
        <!-- Main Navbar -->
        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
            <a class="navbar-brand" href="/" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1 ml-3" style="max-width: 170px;" src="/images/logo-row.png" alt="Shards Dashboard">
                </div>
            </a>
            <form th:action="@{/article/search}" method="get" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" id="kw" name="kw" class="navbar-search form-control"  placeholder="투표지를 찾아보세요" aria-label="Search">
                </div>
            </form>
            <ul class="navbar-nav flex-row ml-auto mr-3">
                <div class="d-none-540px d-flex" sec:authorize="isAnonymous()">
                    <a class="btn-login nav-link d-flex align-items-center justify-content-center" th:href="@{/member/login}">로그인</a>
                    <a class="btn-signup nav-link d-flex align-items-center justify-content-center" th:href="@{/member/signup}">회원가입</a>
                </div>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle text-nowrap px-3 d-flex align-items-center" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="card-post__author-avatar card-post__author-avatar--small mr-2" th:if="${#authentication.principal.memberImgPath}"
                             th:src="@{${#authentication.principal.memberImgRedirectUrl}}" />
                        <img class="card-post__author-avatar card-post__author-avatar--small mr-2" th:unless="${#authentication.principal.memberImgPath}"
                             th:src="@{/gen/member.png}"/>
                        <span class="d-none d-md-inline-block" th:text="${#authentication.principal.nickname}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-small">
                        <a class="dropdown-item" th:href="@{|/member/myPage|}">
                            <i class="material-icons">&#xE7FD;</i> 마이페이지</a>
<!--                        <a class="dropdown-item" href="components-blog-posts.html">-->
<!--                            <i class="material-icons">vertical_split</i> 내 게시물 보기</a>-->
                        <a class="dropdown-item" th:href="@{/article/create}">
                            <i class="material-icons">note_add</i> 투표지 등록하기</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" th:href="@{|/member/logout|}">
                            <i class="material-icons text-danger">&#xE879;</i> 로그아웃 </a>
                    </div>
                </li>
            </ul>
            <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar  d-inline d-lg-none text-center " data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons"></i>
                </a>
            </nav>
        </nav>
    </div>
</nav>
</html>