<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}"
>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div layout:fragment="content" class="main-content-container container-fluid px-4">
    <div class="container mx-auto w-[700px] mt-5 p-10 flex flex-col bg-white rounded-2xl shadow-lg">
        <form th:action="@{/member/delete}" th:object="${memberDeleteForm}" method="post">

            <div class="text-center text-2xl font-semibold mt-1 mb-2 pb-5">회원 탈퇴</div>
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label class="form-label">계정 삭제를 하시려면 비밀번호를 입력해 주세요.</label>
                <input
                        type="password"
                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        th:field="*{password}"
                />
            </div>
            <div class="text-center">
                <button type="submit"
                        class="mt-4 rounded-md p-3 w-[300px] bg-blue-600 text-white text-sm justify-center hover:bg-blue-700 hover:shadow-lg">
                    탈퇴
                </button>
            </div>
        </form>
    </div>
</div>
</html>